<div class="relative">
  <ng-select class="form-control" [items]="values()" [bindValue]="'value'" [(ngModel)]="gameEvent"
    placeholder="Select game event..." (change)="change.emit($event?.value)" [searchFn]="search">

    <ng-template ng-label-tmp let-item="item">
      <div class="text-white">
        {{ item.value }}
      </div>
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
      <div class="relative">
        <div class="text-white">
          {{ item.value }}
        </div>

        <p class="text-white text-sm italic">{{ item.desc }}</p>
      </div>
    </ng-template>
  </ng-select>

  <app-input-floating-label>{{ label() }}</app-input-floating-label>
</div>