<div class="relative">
  <ng-select
    class="form-control"
    [items]="values()"
    [groupBy]="'group'"
    [(ngModel)]="trait"
    bindLabel="value"
    bindValue="value"
    [searchFn]="search"
    placeholder="Select trait..."
    (change)="change.emit($event?.value)"
  >
    <ng-template ng-option-tmp let-item="item">
      <div class="text-white">
        <span class="font-bold">{{ item.value }}</span>
        <br />
        {{ item.desc }}
      </div>
    </ng-template>
  </ng-select>

  <app-input-floating-label>{{ label() }}</app-input-floating-label>
</div>
