<app-editor-view-table [dataType]="'maps'" [tableColumns]="tableColumns" [tableItems]="tableItems()" [showImport]="true"
  (create)="createNewDialog()" (import)="importDialog()" (filterChanged)="filterChanged($event)"
  [defaultFilterState]="tableFilterState()"></app-editor-view-table>

<input #mapUpload type="file" multiple (change)="importMaps($event)" accept="application/json" class="hidden" />

<swal #newSwal title="Create New Map" text="What would you like to name your map?" input="text" icon="question"
  confirmButtonText="Create" [showCancelButton]="true" [focusCancel]="true"></swal>

<swal #renameSwal title="Rename Map" text="What would you like to rename your map to?" input="text" icon="question"
  confirmButtonText="Rename" [showCancelButton]="true" [focusCancel]="true"></swal>