<div role="tablist" class="tabs tabs-boxed rounded-none">

  @for(tab of tabOrder; track tab.name; let i = $index) {
  <a role="tab" class="tab" [class.tab-active]="activeValidationTab() === i" (click)="changeTab(i)">{{ tab.icon }} {{
    tab.name
    }} ({{ tab.count() }})</a>
  }

  <div class="tab flex flex-row justify-end">
    <button class="btn-sm btn btn-success mr-3" (click)="exit.emit()">Done</button>
  </div>

</div>

<div class="message-container">
  @for(message of tabOrder[activeValidationTab()].messages(); track $index) {
  @if(message.header) {
  <h1 class="text-2xl my-2">{{ message.header }}</h1>
  } @else if(message.subheader) {
  <h2 class="text-xl my-2">{{ message.subheader }}</h2>
  } @else {
  <div>
    <span>
      @if(message.type === 'error') {
      ❌
      } @else if(message.type === 'warning') {
      ⚠️
      } @else if(message.type === 'good') {
      ✅
      }
    </span>

    <span>
      {{ message.message }}
    </span>
  </div>
  }
  }
</div>