@let editingData = editing();

<div role="tablist" class="tabs tabs-boxed rounded-none mb-3">

  @for(tab of tabs; let i = $index; track tab.name) {
  <a role="tab" class="tab" [class.tab-active]="activeTab() === i" (click)="changeTab(i)">
    {{ tab.name }}
  </a>
  }

  <div class="tab flex flex-row justify-end">
    <button class="btn-sm btn btn-warning mr-3" (click)="doBack()">Go Back</button>
    <button class="btn-sm btn btn-secondary" [disabled]="!canSave()" (click)="doSave()">Save</button>
  </div>

</div>

@switch (activeTab()) {
@case (0) {
<div class="flex flex-row gap-2">
  <div class="form-column">
    <div class="form-row">
      <app-input-sprite [(sprite)]="editingData.sprite"></app-input-sprite>
    </div>

    <div class="form-row">
      <app-input-floating-label>Name</app-input-floating-label>
      <input [ngModel]="editingData.name" type="text" placeholder="Choose name..." class="form-input"
        (ngModelChange)="update('name', $event)" [class.has-error]="!satisfiesUnique()" />
    </div>

    <div class="form-row">
      <app-input-itemclass [itemClass]="editingData.itemClass" label="Item Class"
        (change)="changeItemClass($event)"></app-input-itemclass>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <app-input-skill [(skill)]="editingData.type" label="Primary Skill"></app-input-skill>
      </div>

      <div class="form-column">
        <app-input-skill [(skill)]="editingData.secondaryType" label="Secondary Skill (optional)"></app-input-skill>
      </div>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Max # Of Upgrades</app-input-floating-label>
          <input [(ngModel)]="editingData.maxUpgrades" type="number" min="0" placeholder="Choose max #..."
            class="form-input" />
        </div>
      </div>

      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label># of ★</app-input-floating-label>
          <input [(ngModel)]="editingData.quality" type="number" min="0" max="5" placeholder="Choose ★ #..."
            class="form-input" />
        </div>
      </div>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Shop Purchase Cost</app-input-floating-label>
          <input [(ngModel)]="editingData.value" type="number" min="0" placeholder="Enter cost..." class="form-input" />
        </div>
      </div>

      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Sell Value</app-input-floating-label>
          <input [(ngModel)]="editingData.sellValue" type="number" min="0" placeholder="Enter value..."
            class="form-input" />
        </div>
      </div>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row pl-1">
          <label class="label cursor-pointer" floatUi="Whether or not the item is sackable.">
            <input type="checkbox" [(ngModel)]="editingData.isSackable" class="checkbox" />
            <span class="label-text">Sackable</span>
          </label>
        </div>
      </div>

      <div class="form-column">
        <div class="form-row pl-1">
          <label class="label cursor-pointer" floatUi="Whether or not the item is beltable.">
            <input type="checkbox" [(ngModel)]="editingData.isBeltable" class="checkbox" />
            <span class="label-text">Beltable</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row pl-1">
          <label class="label cursor-pointer" floatUi="Whether or not the item binds when picked up.">
            <input type="checkbox" [(ngModel)]="editingData.binds" class="checkbox" />
            <span class="label-text">Binds</span>
          </label>
        </div>
      </div>

      <div class="form-column">
        <div class="form-row pl-1">
          <label class="label cursor-pointer"
            floatUi="Whether or not the item puts a message in chat when bound (and picked up).">
            <input type="checkbox" [(ngModel)]="editingData.tellsBind" class="checkbox" />
            <span class="label-text">Tells Bind</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row pl-1">
          <label class="label cursor-pointer"
            floatUi="Whether or not the item is destroyed when put on the ground (dangerous!).">
            <input type="checkbox" [(ngModel)]="editingData.destroyOnDrop" class="checkbox" />
            <span class="label-text">Destroy on Drop</span>
          </label>
        </div>
      </div>

      <div class="form-column">
      </div>
    </div>

    <div class="form-row">
      <app-input-floating-label>Description</app-input-floating-label>
      <input [(ngModel)]="editingData.desc" type="text" placeholder="Enter description..." class="form-input" />
    </div>

    <div class="form-row">
      <app-input-floating-label>Sense Description (optional)</app-input-floating-label>
      <input [(ngModel)]="editingData.extendedDesc" type="text" placeholder="Enter sense description..."
        class="form-input" />
    </div>

    <div class="form-row">
      You are looking at {{ editingData.desc }}.
    </div>
  </div>

  <div class="form-column">
    <div class="form-row split">

      <div class="form-column">
        <div class="form-row">
          <app-input-stat [(stat)]="currentStat"></app-input-stat>
        </div>
      </div>

      <div class="form-column button-column">
        <div class="form-row w-full flex justify-end">
          <button class="btn btn-accent btn-sm" [disabled]="!currentStat() || doesItemHaveCurrentStat()"
            (click)="addStat(currentStat())">
            <ng-icon name="heroPlus"></ng-icon>
          </button>
        </div>
      </div>
    </div>

    @for(stat of statsInOrder(); track $index) {

    <div class="form-row split">
      @if(stat.type === 'set') {
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>{{ stat.stat }}</app-input-floating-label>
          <input [(ngModel)]="stat.set" type="number" placeholder="Choose value..." class="form-input" />
        </div>
      </div>
      }

      @if(stat.type === 'minmax') {
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>{{ stat.stat }} min</app-input-floating-label>
          <input [(ngModel)]="stat.min" type="number" placeholder="Choose min..." class="form-input" />
        </div>
      </div>

      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>{{ stat.stat }} max</app-input-floating-label>
          <input [(ngModel)]="stat.max" type="number" placeholder="Choose max..." class="form-input" />
        </div>
      </div>
      }

      <div class="form-column">
        <div class="form-row w-full flex justify-end">
          <button class="btn btn-info btn-sm" (click)="toggleStat(stat)">
            <ng-icon name="heroArrowsRightLeft"></ng-icon>
          </button>

          <button class="ml-1 btn btn-error btn-sm" (click)="removeStat(stat.stat)">
            <ng-icon name="heroMinus"></ng-icon>
          </button>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="form-column">
    @for(prop of extraProps(); track $index) {

    @switch(propTypes[prop]) {
    @case('string') {
    <div class="form-row">
      <app-input-floating-label>{{ prop }}</app-input-floating-label>
      <input [(ngModel)]="editingData[prop]" type="text" placeholder="Pick..." class="form-input" />
    </div>
    }

    @case('number') {
    <div class="form-row">
      <app-input-floating-label>{{ prop }}</app-input-floating-label>
      <input [(ngModel)]="editingData[prop]" type="number" min="0" placeholder="Pick..." class="form-input" />
    </div>
    }

    @case('boolean') {
    <div class="form-row pl-1">
      <label class="label cursor-pointer">
        <input type="checkbox" [(ngModel)]="editingData[prop]" class="checkbox" />
        <span class="label-text">{{ prop }}</span>
      </label>
    </div>
    }

    @case('damageClass') {
    <div class="form-row">
      <app-input-damageclass [(damageClass)]="editingData.damageClass"></app-input-damageclass>
    </div>
    }

    @case('succorInfo') {
    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Succor Map</app-input-floating-label>
          <input [(ngModel)]="editingData.succorInfo!.map" type="text" placeholder="Pick..." class="form-input" />
        </div>
      </div>
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Succor X</app-input-floating-label>
          <input [(ngModel)]="editingData.succorInfo!.x" type="number" placeholder="Pick..." class="form-input" />
        </div>
      </div>
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Succor Y</app-input-floating-label>
          <input [(ngModel)]="editingData.succorInfo!.y" type="number" placeholder="Pick..." class="form-input" />
        </div>
      </div>
    </div>
    }

    @case('containedItems') {
    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-item [(item)]="currentItem"></app-input-item>
        </div>
      </div>

      <div class="form-column button-column">
        <div class="form-row w-full flex justify-end">
          <button class="btn btn-accent btn-sm" (click)="addContainedItem()" [disabled]="!currentItem()">
            <ng-icon name="heroPlus"></ng-icon>
          </button>
        </div>
      </div>
    </div>

    @for(item of editingData.containedItems; track $index) {
    <div class="form-row split">
      <div class="form-column">
        <div class="form-row pl-1">
          {{ item.result }}
        </div>
      </div>

      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Roll Chance</app-input-floating-label>
          <input [(ngModel)]="item.chance" type="number" placeholder="Enter chance..." class="form-input" />
        </div>
      </div>

      <div class="form-column button-column">
        <div class="form-row w-full flex justify-end">
          <button class="ml-1 btn btn-error btn-sm" (click)="removeContainedItem($index)">
            <ng-icon name="heroMinus"></ng-icon>
          </button>
        </div>
      </div>
    </div>
    }
    }

    @default {
    {{ prop }} ({{ propTypes[prop] }}) has no editor.
    }
    }
    }
  </div>
</div>
}

@case (1) {
<div class="flex flex-row gap-2">
  <div class="form-column">
    <div class="form-row">
      <app-input-trait [(trait)]="editingData.trait!.name" label="Trait"></app-input-trait>
    </div>

    <div class="form-row">
      <app-input-floating-label>Trait Level</app-input-floating-label>
      <input [(ngModel)]="editingData.trait!.level" type="number" min="0" placeholder="Enter level..."
        class="form-input" />
    </div>

  </div>

  <div class="form-column">
    <div class="form-row">
      <app-input-effect [effect]="editingData.useEffect!.name" (change)="editingData.useEffect!.name = $event"
        label="Use Effect"></app-input-effect>
    </div>

    <div class="form-row">
      <app-input-floating-label>Use Potency</app-input-floating-label>
      <input [(ngModel)]="editingData.useEffect!.potency" type="number" min="0" placeholder="Enter potency..."
        class="form-input" />
    </div>

    <div class="form-row">
      <app-input-floating-label>Use Duration</app-input-floating-label>
      <input [(ngModel)]="editingData.useEffect!.duration" type="number" min="-1" placeholder="Enter duration..."
        class="form-input" />
    </div>

    <div class="form-row pl-1">
      <label class="label cursor-pointer" floatUi="Whether or not the effect can be applied via Thief Apply.">
        <input type="checkbox" [(ngModel)]="editingData.useEffect!.canApply" class="checkbox" />
        <span class="label-text">Can Apply Use Effect Via Thief Apply</span>
      </label>
    </div>

    <hr class="my-4">

    <div class="form-row">
      <app-input-effect [effect]="editingData.strikeEffect!.name" (change)="editingData.strikeEffect!.name = $event"
        label="Strike Effect"></app-input-effect>
    </div>

    <div class="form-row">
      <app-input-floating-label>Strike Potency</app-input-floating-label>
      <input [(ngModel)]="editingData.strikeEffect!.potency" type="number" min="0" placeholder="Enter potency..."
        class="form-input" />
    </div>

    <div class="form-row">
      <app-input-floating-label>Strike Duration</app-input-floating-label>
      <input [(ngModel)]="editingData.strikeEffect!.duration" type="number" min="-1" placeholder="Enter duration..."
        class="form-input" />
    </div>

    <div class="form-row">
      <app-input-floating-label>Strike Chance</app-input-floating-label>
      <input [(ngModel)]="editingData.strikeEffect!.chance" type="number" min="0" max="100"
        placeholder="Enter chance..." class="form-input" />
    </div>

    <hr class="my-4">

    <div class="form-row">
      <app-input-effect [effect]="editingData.equipEffect!.name" (change)="editingData.equipEffect!.name = $event"
        label="Equip Effect"></app-input-effect>
    </div>

    <div class="form-row">
      <app-input-floating-label>Equip Potency</app-input-floating-label>
      <input [(ngModel)]="editingData.equipEffect!.potency" type="number" min="0" placeholder="Enter potency..."
        class="form-input" />
    </div>

    <hr class="my-4">

    <div class="form-row">
      <app-input-effect [effect]="editingData.breakEffect!.name" (change)="editingData.breakEffect!.name = $event"
        label="Break Effect"></app-input-effect>
    </div>

    <div class="form-row">
      <app-input-floating-label>Break Potency</app-input-floating-label>
      <input [(ngModel)]="editingData.breakEffect!.potency" type="number" min="0" placeholder="Enter potency..."
        class="form-input" />
    </div>
  </div>

  <div class="form-column">
    <div class="form-row">
      <app-input-class [(playerClass)]="editingData.requirements!.baseClass" label="Required Class"></app-input-class>
    </div>

    <div class="form-row">
      <app-input-floating-label>Required Level</app-input-floating-label>
      <input [(ngModel)]="editingData.requirements!.level" type="number" min="0" placeholder="Enter required level..."
        class="form-input" />
    </div>
  </div>
</div>
}

@case (2) {
<div class="flex flex-row gap-2">
  <div class="form-column">

    <div class="form-row">
      <app-input-floating-label>Cosmetic Name</app-input-floating-label>
      <input [(ngModel)]="editingData.cosmetic!.name" type="text" placeholder="Enter cosmetic name..."
        class="form-input" />
    </div>

    <div class="form-row pl-1">
      <label class="label cursor-pointer" floatUi="Whether or not the cosmetic can be taken off of the item.">
        <input type="checkbox" [(ngModel)]="editingData.cosmetic!.isPermanent" class="checkbox" />
        <span class="label-text">Is Permanent Cosmetic</span>
      </label>
    </div>
  </div>

  <div class="form-column">
  </div>
  <div class="form-column">
  </div>
</div>
}
}

<app-debug-view>
  {{ editingData | json }}
</app-debug-view>
