<div class="flex flex-row items-center">
  <app-icon
    class="w-17 mr-4 p-1 min-w-[70px] min-h-[70px] max-w-[70px] max-h-[70px]"
    [icon]="icon()"
    [bgColor]="bgColor() || '#9ca3af'"
    [color]="color() || '#000'"
    [borderColor]="borderColor() || 'transparent'"
  ></app-icon>

  <div class="relative flex">
    <app-input-floating-label>{{ label() }}</app-input-floating-label>

    <ng-select
      class="form-control"
      class="min-w-[200px] max-w-[200px]"
      [items]="values()"
      [(ngModel)]="icon"
      placeholder="Select icon..."
      (change)="change.emit($event)"
    ></ng-select>

    <button class="ml-1 btn btn-secondary btn-sm" (click)="changeIcon()">
      <ng-icon name="heroArrowTopRightOnSquare"></ng-icon>
    </button>
  </div>
</div>

<dialog #iconPicker class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h1 class="text-2xl font-bold mb-2">Icon Picker</h1>

    @let iconCounts = usedIcons();

    @if (isModalOpen()) {
      <div class="relative flex flex-wrap overflow-y-scroll max-h-[70vh]">
        @for (icon of values(); track $index) {
          <div
            class="relative p-1 flex-1 m-2 bg-gray-400 min-w-[70px] min-h-[70px] max-w-[70px] max-h-[70px] outline-2 outline-offset-2 hover:outline-dashed outline-primary"
            [class.outline]="icon === pickerIcon()"
          >
            <app-icon
              [class.outline]="icon === pickerIcon()"
              [icon]="icon"
              (click)="pickerIcon.set(icon)"
              [bgColor]="'#9ca3af'"
            ></app-icon>

            <div
              class="badge badge-primary absolute top-0 right-0"
              [class.badge-success]="!iconCounts[icon]"
            >
              {{ iconCounts[icon] || 0 }}
            </div>
          </div>
        }
      </div>
    }

    <div class="modal-action mt-2">
      <form method="dialog">
        <button class="btn btn-sm">Close</button>
        <button
          class="ml-2 btn btn-primary btn-sm"
          (click)="confirmNewIcon(pickerIcon())"
        >
          Pick
        </button>
      </form>
    </div>
  </div>
</dialog>
