.sprite-col {
  flex: 3;
}

.stat-container {
  flex-wrap: wrap;

  .stat-column {
    flex: 1 1 30%;
  }
}

.equipment-pickers {
  & > .form-column:first-child {
    flex: 3;
  }

  & > .form-column:not(:first-child) {
    flex: 2;
  }
}

.drop-pickers {
  & > .form-column:first-child {
    flex: 1;
  }

  & > .form-column:not(:first-child) {
    flex: 2;
  }
}
