@let chatData = chat();

<app-input-prop-editor
  class="flex-1"
  [propName]="'Message'"
  [(propData)]="chatData.text"
  [propType]="'string'"
></app-input-prop-editor>

<app-input-prop-editor
  class="flex-1"
  [propName]="'Response Action'"
  [(propData)]="chatData.action"
  [propType]="'string'"
></app-input-prop-editor>

<div class="mt-4">
  <app-input-holiday
    label="Holiday Requirement"
    [(holiday)]="chatData.requirement.holiday"
  ></app-input-holiday>
</div>

<div class="mt-4">
  <app-input-stat
    label="Stat Requirement"
    [defaultValue]="chatData.requirement.stat"
    (change)="chatData.requirement.stat = $event"
  ></app-input-stat>
</div>

<app-input-prop-editor
  class="flex-1"
  [propName]="'Stat Requirement Value'"
  [(propData)]="chatData.requirement.statValue"
  [propType]="'number'"
></app-input-prop-editor>
