<div class="relative">
  <ng-select class="form-control" [items]="values()" bindValue="data" groupBy="category" [(ngModel)]="item"
    [virtualScroll]="true" placeholder="Select item..." (change)="change.emit($event?.value)"
    [compareWith]="itemCompare" [searchFn]="search">

    <ng-template ng-label-tmp let-item="item">
      <div class="relative">
        @if(item.data.sprite) {
        <app-sprite class="absolute -top-5 -left-5" [scale]="0.5" [type]="'items'"
          [sprite]="item.data.sprite"></app-sprite>
        }
        <div class="ml-7 text-white">
          {{ item.data.name }} (Level {{ item.data.requirements?.level ?? 0 }})
        </div>
      </div>
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
      <div class="relative">
        @if(item.data.sprite) {
        <app-sprite class="absolute -top-5 -left-7" [scale]="0.5" [type]="'items'"
          [sprite]="item.data.sprite"></app-sprite>
        }
        <div class="ml-5 text-white">
          {{ item.data.name }} (Level {{ item.data.requirements?.level ?? 0 }})
        </div>
      </div>
    </ng-template>
  </ng-select>

  <app-input-floating-label>{{ label() }}</app-input-floating-label>
</div>