<div class="relative">
  <ng-select class="form-control" [items]="values()" [(ngModel)]="event" groupBy="category"
    placeholder="Select event..." (change)="change.emit($event?.value)" [compareWith]="itemCompare" [searchFn]="search">

    <ng-template ng-label-tmp let-item="item">
      <div class="relative">
        <div class="text-white">
          {{ item.value }}
        </div>
      </div>
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
      <div class="relative">
        <div class="text-white">
          {{ item.value }}
        </div>

        <p class="text-white text-sm italic whitespace-break-spaces">{{ item.desc }}</p>
      </div>
    </ng-template>
  </ng-select>

  <app-input-floating-label>{{ label() }}</app-input-floating-label>
</div>