<div
  class="relative flex w-full h-full border-t border-[var(--tab-border)] gap-2"
>
  <div class="w-[200px] flex flex-col border-r border-[var(--tab-border)] pr-2">
    @for (keyword of allKeywords(); track $index) {
      <div class="flex">
        <button
          class="p-2 m-1 rounded cursor-pointer btn w-full flex-1"
          [class.btn-info]="currentKeyword() === keyword"
          (click)="changeKeyword(keyword)"
        >
          {{ keyword }}
        </button>

        @if (keyword !== 'hello') {
          <button
            class="p-2 m-1 rounded cursor-pointer btn-error btn-outline"
            (click)="removeKeyword(keyword)"
          >
            -
          </button>
        }
      </div>
    }

    <button
      class="p-2 m-1 rounded cursor-pointer btn btn-success w-full"
      [swal]="addKeyword"
    >
      + Add
    </button>

    <swal
      #addKeyword
      title="Add NPC Dialog Keyword"
      text="Enter a keyword for the NPC dialog."
      input="text"
      confirmButtonText="Add Keyword"
      [inputAttributes]="{ maxlength: '20' }"
      [showCancelButton]="true"
      [focusCancel]="true"
      (confirm)="addNewKeyword($event)"
    ></swal>
  </div>

  <div class="flex-1 p-2">
    <vflow
      #vflow
      class="w-full h-full node-container"
      view="auto"
      [alignmentHelper]="true"
      [nodes]="nodes()"
      [edges]="edges()"
      [background]="'#1d232a'"
      (onNodesChange.select.single)="selectNode($event)"
    ></vflow>
  </div>

  @if (selectedNode(); as selected) {
    <div
      class="absolute right-0 top-0 bottom-0 w-[400px] z-10 bg-base-100 border-l border-[var(--tab-border)] p-2 overflow-auto"
    >
      @if (isSelectingNode()) {
        loading...
      } @else {
        <app-dialogs-editor-visual-node-editor
          (unselect)="unselectNode()"
          (save)="saveNode($event)"
          [action]="selected.data.actionInfo"
        ></app-dialogs-editor-visual-node-editor>
      }
    </div>
  }
</div>
