@let editingData = editing();

<div role="tablist" class="tabs tabs-boxed rounded-none mb-3">

  <div class="tab flex flex-row justify-end">
    <button class="btn-sm btn btn-warning mr-3" (click)="doBack()">Go Back</button>
    <button class="btn-sm btn btn-secondary" [disabled]="!canSave()" (click)="doSave()"
      [class.btn-disabled]="!electronService.isInElectron()">Save</button>
  </div>

</div>

<div class="flex flex-row gap-2">
  <div class="form-column">

    <div class="form-row">
      <app-input-icon [(icon)]="editingData.icon" [color]="editingData.iconColor" [bgColor]="editingData.iconBgColor"
        [borderColor]="editingData.iconBorderColor"></app-input-icon>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Icon Color</app-input-floating-label>
          <input [(colorPicker)]="editingData.iconColor" [(ngModel)]="editingData.iconColor"
            [style.background]="editingData.iconColor" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'"
            [cpOKButton]="true" [cpCancelButton]="true" class="form-input" />
        </div>
      </div>

      <div class="form-column button-column">
        <div class="form-row w-full flex justify-end">
          <button class="ml-1 btn-sm btn btn-warning" (click)="editingData.iconColor = ''">
            <ng-icon name="heroFire"></ng-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Icon Background Color</app-input-floating-label>
          <input [(colorPicker)]="editingData.iconBgColor" [(ngModel)]="editingData.iconBgColor"
            [style.background]="editingData.iconBgColor" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'"
            [cpOKButton]="true" [cpCancelButton]="true" class="form-input" />
        </div>
      </div>

      <div class="form-column button-column">
        <div class="form-row w-full flex justify-end">
          <button class="ml-1 btn-sm btn btn-warning" (click)="editingData.iconBgColor = ''">
            <ng-icon name="heroFire"></ng-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Icon Border Color</app-input-floating-label>
          <input [(colorPicker)]="editingData.iconBorderColor" [(ngModel)]="editingData.iconBorderColor"
            [style.background]="editingData.iconBorderColor" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'"
            [cpOKButton]="true" [cpCancelButton]="true" class="form-input" />
        </div>
      </div>

      <div class="form-column button-column">
        <div class="form-row w-full flex justify-end">
          <button class="ml-1 btn-sm btn btn-warning" (click)="editingData.iconBorderColor = ''">
            <ng-icon name="heroFire"></ng-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-column">
    <div class="form-row">
      <app-input-floating-label>Name</app-input-floating-label>
      <input [ngModel]="editingData.name" type="text" placeholder="Choose name..." class="form-input"
        (ngModelChange)="update('name', $event)" [class.has-error]="!satisfiesUnique()" />
    </div>


    <div class="form-row">
      <app-input-floating-label>Description</app-input-floating-label>
      <input [(ngModel)]="editingData.desc" type="text" placeholder="Enter description..." class="form-input" />
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Achievement Points</app-input-floating-label>
          <input [(ngModel)]="editingData.ap" type="number" min="0" placeholder="Choose AP..." class="form-input" />
        </div>
      </div>
    </div>

    <div class="form-row split">
      <div class="form-column">
        <div class="form-row pl-1">
          <label class="label cursor-pointer" floatUi="Whether or not the achievement is hidden from the player.">
            <input type="checkbox" [(ngModel)]="editingData.hidden" class="checkbox" />
            <span class="label-text">Hidden?</span>
          </label>
        </div>
      </div>

      <div class="form-column">
        <div class="form-row pl-1">
          <label class="label cursor-pointer"
            floatUi="Whether or not the achievement should be shared with party mates when earned.">
            <input type="checkbox" [(ngModel)]="editingData.shareWithParty" class="checkbox" />
            <span class="label-text">Share With Party?</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-column">

    <div class="form-row">
      <app-input-achievementtype [(achievementType)]="editingData.activationType"
        (change)="resetAchievementType()"></app-input-achievementtype>
    </div>

    @switch(editingData.activationType) {
    @case ('level') {
    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-class [(playerClass)]="editingData.requirements.level.baseClass" label="Class"></app-input-class>
        </div>
      </div>

      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Level</app-input-floating-label>
          <input [(ngModel)]="editingData.requirements.level.level" type="number" min="0" placeholder="Choose level..."
            class="form-input" />
        </div>
      </div>
    </div>
    }

    @case ('skill') {
    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-skill [(skill)]="editingData.requirements.skill.skill" label="Skill"></app-input-skill>
        </div>
      </div>

      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Level</app-input-floating-label>
          <input [(ngModel)]="editingData.requirements.skill.level" type="number" min="0"
            placeholder="Choose skill level..." class="form-input" />
        </div>
      </div>
    </div>
    }

    @case ('tradeskill') {
    <div class="form-row split">
      <div class="form-column">
        <div class="form-row">
          <app-input-tradeskill [(tradeskill)]="editingData.requirements.tradeskill.tradeskill"
            label="Tradeskill"></app-input-tradeskill>
        </div>
      </div>

      <div class="form-column">
        <div class="form-row">
          <app-input-floating-label>Level</app-input-floating-label>
          <input [(ngModel)]="editingData.requirements.tradeskill.level" type="number" min="0"
            placeholder="Choose tradeskill level..." class="form-input" />
        </div>
      </div>
    </div>
    }

    @case ('kill') {
    <div class="form-row">
      <app-input-npc (change)="editingData.requirements.kill.npc = $event"
        [defaultValue]="editingData.requirements.kill.npc" label="Killed NPC"></app-input-npc>
    </div>
    }

    @case ('bindItem') {
    <div class="form-row">
      <app-input-item (change)="editingData.requirements.bindItem.item = $event"
        [defaultValue]="editingData.requirements.bindItem.item" label="Bound Item"></app-input-item>
    </div>
    }
    }

  </div>
</div>

<app-debug-view>
  {{ editingData | json }}
</app-debug-view>