@let editing = isEditing();

@if(!canEdit()) {
<div class="w-full h-full flex flex-nowrap justify-center items-center text-center text-3xl">
  Add at least 2 items first.
</div>
} @else {
<app-editor-view-table [class.hidden]="editing" [dataType]="'recipes'" [tableColumns]="tableColumns"
  [tableItems]="tableItems()" (create)="createNew()"></app-editor-view-table>
}

@if(editing) {
<app-recipes-editor class="h-full w-full" [editing]="editingData()" (goBack)="cancelEditing()"
  (save)="saveNewData($event)"></app-recipes-editor>
}